@import "less";

body {

	font:400 14px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei";
}

header {

	.posf; width:100%; left:0; right:0; z-index:5000; top:0; background: @blue;

	.filter-list {
		width:60px; height:100px; background: #000; position: fixed; top:20px; left:55px;
	}

	.headView-style-1,.headView-style-2 {

		line-height: 41px;

		li {
			color:#fff; display:inline-block; .ta;
		}

		/* style 1 */
		li{

			&.percent20 {
				width:20%;
			}
			&.percent60 {
				width:60%;
			}
			i {
				color:#fff; font-size:20px; vertical-align: middle;
			}
		}
		/*  style 2  */
		li {

			&.headView-btn-left{
				width:20%; cursor: pointer;
			}
			&.headView-title {
				width:60%;
			}
			&.headView-btn-right {
				width:20%;
			}
		}
	}
}

#main {

	clear: both; box-sizing: border-box;
	position: absolute; top:41px; bottom:56px; width:100%; overflow-y: auto;
}

footer {

	.posf; bottom:0; background: #fff; width:100%; left:0; right:0; z-index:5000;

	@fontColor:#999;

	ul {

		border-top:1px solid #aaa;

		li {

			display: inline-block; width:100%/4; .ta; padding:5px 0;

			a {

				display: block; .tdn; color:@fontColor;

				i {

					display: block !important; color:@fontColor; padding:2px; font-size:20px !important;
				}
			}

			@cc :@blue;

			&:hover,&:active,&.active {

				color:@cc;

				a{
					color:@cc;

					i {
						color:@cc;
					}
				}
			}
		}
	}
}