@import "less";

body {

	font:400 14px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei";
}

.headView-home {

	clear: both; background: @blue; .of; padding:10px 0;

	li{

		.fl; width:100%/3; .ta;

		a {

			color:#fff; .tdn;
		}
	}
}

#main {

	clear: both;
}

footer {

	clear: both;
}