<section class="moreSection">
	<div class="more-list more-list-1">
		<ul>
			<li><a href="javascript:void(0);"><i class="fa fa-yelp"></i>添加好友</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-volume-up"></i>目的地广播</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-flag-o"></i>组队召集</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-group"></i>寻找小组</a></li>
		</ul>
	</div>
	<div class="more-list more-list-2">
		<ul>
			<li><a href="javascript:void(0);"><i class="fa fa-dollar"></i>金币商城</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-info"></i>关于悦自游</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-envelope-o"></i>意见反馈</a></li>
		</ul>
	</div>
</section>