<section class="mySection">
	<div class="my-func-list">
		<ul class="list-item">
			<li><a href="javascript:void(0);"><i class="fa fa-at"></i>我的广播</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-envelope-o"></i>我的私信</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i>我的评论</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-heart"></i>我的收藏</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-paper-plane-o"></i>我的组队响应</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-group"></i>我的小组</a></li>
		</ul>
	</div>
</section>