<section class="mySection">
	<div>
		<div class="myBgPic" style="background: url('../../../images/bg.jpg') no-repeat center center">
			<img src="../../../images/1.jpg" width="100" class="my-headerPic"/>
		</div>
	</div>
	<div class="my-func-list">
		<ul class="list-item">
			<li><a href="javascript:void(0);"><i class="fa fa-at"></i>我的广播</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-envelope-o"></i>我的私信</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-comment-o"></i>我的评论</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-heart"></i>我的收藏</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-paper-plane-o"></i>我的组队响应</a></li>
			<li><a href="javascript:void(0);"><i class="fa fa-group"></i>我的小组</a></li>
		</ul>
	</div>
</section>