@import "../../../basic";
@import "../../../resource";

.msgItem {

	padding:10px; .of; border-bottom:1px solid #ddd; clear:both;

	.headerPic,.msgContent {
		.fl;
	}
	.headerPic {
		width:20%;
		img {
			max-width:100%;
		}
	}
	.msgContent {
		width:80%;
	}

	.msgContent {
		.bcInfo {
			.nickName {
				color:#336699; cursor: pointer;
			}
			.activityMsg {
				color:#aaa; margin-left:5px;
			}
		}
		.bcContent {
			ul {
				li {
					line-height: 30px;
				}
			}
		}
		.bcAbout {

			.of;

			.fl {
				.fl;
			}
			.fr {
				.fr;
			}

			.bcFavorite {
				margin-right:5px;
			}

			.bcFavorite,.bcChat {
				i {
					margin-right:3px;
				}
			}

			.bcDate,.bcAddress {
				color:#aaa;
			}
		}
		.favoriteAbout {
			clear: both; width:100%; background: #ddd; padding:5px 7px;box-sizing: border-box;
			margin-top:5px;
		}
	}
}

/*
	发现
*/

.moreSection {

	padding:10px 0;

	.more-list {

		margin:10px 0 20px 0; padding:5px 15px; background:#fff;

		font-size:14px;

		ul {

			li {
				line-height: 40px; padding:7px 5px; border-bottom:1px solid #eee;

				a{

					color:#000; .tdn;
					i {

						width:50px; text-align: center; font-size:20px;
					}
				}
			}

			li:last-child {

				border-bottom: none;
			}
		}
	}

	.more-list-1 {
		li {
			&:nth-child(1) {
				i {
					color:@green;
				}
			}

			&:nth-child(2) {
				i {
					color:@blue;
				}
			}

			&:nth-child(3) {
				i {
					color:#f90;
				}
			}

			&:nth-child(4) {
				i {
					color:@blue;
				}
			}
		}
	}

	.more-list-2 {
		li {
			&:nth-child(1) {
				i {
					color:@green;
				}
			}

			&:nth-child(2) {
				i {
					color:@red;
				}
			}

			&:nth-child(3) {
				i {
					color:@blue;
				}
			}
		}
	}
}


/*
	@我的
*/

.mySection {

	padding:10px 0;

	.my-func-list {

		margin: 10px 0 20px 0;
		padding: 5px 15px;
		background: #fff;

		font-size: 14px;

		ul.list-item {

			li {
				line-height: 40px;
				padding: 7px 5px;
				border-bottom: 1px solid #eee;

				a {

					color: #000;
					.tdn;
					i {

						width: 50px;
						text-align: center;
						font-size: 20px;
						color:@blue;
					}
				}
			}

			li:last-child {

				border-bottom: none;
			}
		}
	}
}